{% extends 'base.html.twig' %}
{% block pageHeader %} Administrator Panel {% endblock %}
{% block subHeader %} User list {% endblock %}
{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Email</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.roles|join }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

