{% extends 'base.html.twig' %}
{% block pageHeader %} {{ pageHeader }} {% endblock %}
{% block subHeader %} {{ subHeader }} {% endblock %}

{% block body %}
    <h1>Supervisor Panel</h1>
    <a id="logout" href="{{ path('logout') }}">logout</a>
{% endblock %}

