{% extends 'base.html.twig' %}
{% block pageHeader %}
    Student Teamwork Project System
{% endblock %}
{% block subHeader %}
    About project
{% endblock %}
{% block body %}
    <br>
    <h1 class="about_title">
        INVESTIGATING SOFTWARE DEVELOPMENT QUALITY <br>
        THROUGH IMPLEMENTATION OF <br>
        STUDENT TEAMWORK PROJECT SYSTEM
    </h1>
    <br><br>
    <p class="abstract">
        This project’s goal is to evaluate the use of open source tools and techniques for software validation. <br>
        Focusing on investigating and learning what are the advantages and benefits of the Behaviour Driven
        Development, <br> and learn how it can be used for non-trivial real word task.
    </p>
    <p>
        Delivered by Michal Smigiel, supervised by Dr. Matt Smith<br>
        Institute of Technology Blanchardstown 2017
    </p>

{% endblock %}